<div class="container">
    <header>
      <div class="topBar">
        <a href="/dashboard"><%= image_tag "logo.png" %></a>
        <div class="userInfo">
          Hello <a href="#"><%= @current_user.name %></a> |  <%= link_to "Logout" ,  "/logout" %>
        </div>
      </div>
    </header>
    <div class="search" id="searchBox">
      <form action="">
        <input type="text" name="search" placeholder="Search documents and folders" class="searchInput" id="searchInput" />
        <input type="submit" value="Search" />
      </form>
    </div>
    <!--
    <div class="searchArrow"></div>
    <div class="searchResults">
	    <div class="result">
		    <h3>Folders</h3>
        	<ul>
		        <li><a href="#">Doc Stock</a></li>
				<li><a href="#">Claims</a></li>
				<li><a href="#">Expenditure</a></li>
            </ul>
        </div>
		<div class="result">
		    <h3>Documents</h3>
			<ul>
			    <li><a href="#">Making a claim</a></li>
				<li><a href="#">Selling a house</a></li>
				<li><a href="#">Project DocStock</a></li>
                <li><a href="#">Project world domination in the year 2012</a></li>
				<li><a href="#">Another document</a></li>
            </ul>
        </div>
    </div>
    -->
    <div id="main" role="main">
        <div class="error">
            Opps! looks like something went wrong. We have been notified we will fix this ASAP!
        </div>
		<div class="contentContainer">
		    <div id="fileNav">
			    <h4>File list</h4>
                <!--Styling for the options drop down-->
                <!--Todo: Figure out why the list cannot be styled and find out why it is being displayed as a horizontal
                    list instead of a vertical list. For now just finishing off the Jquery part -->
                <!--Todo: Need to add an option to create folders here-->
                <div class="optionsTopStyling"></div>
                <div id="optionsSubMenuContainer">
                    <ul>
                        <li><a href="#">This is a test</a></li>
                        <li><a href="#">This is a test</a></li>
                        <li><a href="#">This is a test</a></li>
                    </ul>
                </div>
				<ul class="fileList">
                    <% @s3objects_root.each do |s3object| %>
                        <li>
                            <%= image_tag "#{GetImage(s3object.fileName)}" %>
                            <!-- <span class="docMenu"><a href="#"><img src="img/download.png">Previous Versions</a></span>	-->
                            <!-- Todo: Figure out why when the margin-left is applied to the a element it moves only the first line	. Once I figure out that then I can remove the div tag-->
                            <div>
                                <a href="/dashboard/<%= s3object.uid %>" class="<%= s3object.uid == @parent_uid ? "docName selected" : "docName" %>"><%= s3object.fileName %></a>
                            </div>
                            <ul class="documentList">
                            <% if s3object.folder == true %>
                                  <% S3Object.find_all_by_parent_uid(s3object.uid).each do |sub_s3object| %>
                                    <li>
                                        <%= image_tag "#{GetImage(sub_s3object.fileName)}" %>
                                        <div>
                                            <a href="/dashboard/<%= sub_s3object.uid %>" class="docName"><%= sub_s3object.fileName %></a>
                                        </div>
                                    </li>
                                  <% end %>
                            <% end %>
                            </ul>
					    </li>
                    <% end %>
				</ul>
			</div>
			<div id="content">
                <!--Todo: Show this along with the preview of the file-->
                <!--<h3>52.png</h3>
                <div class="previewContainer">
                    <p><span class="metaDataTitle">File Size: </span>5 MB</p>
                    <p><span class="metaDataTitle">Download File: </span><a href="#">Some Link</a> </p>
                    <p><span class="metaDataTitle">Last Modified: </span><a href="#">1 hour ago</a></p>
                    <p><span class="metaDataTitle">Last Modified by: </span><a href="#">Prashant Angyan</a></p>
                </div>-->
                <div class="contentFileList">
                    <h2>
                      <% if @parent_uid == 0 %>
                      All files
                      <% else %>
                          <%= @s3object.fileName %>
                          <% if @s3object.folder != true %>
                            <span>Previous Versions</span>
                          <% else %>
                            <span> - Files</span>
                          <% end %>
                      <% end %>
                    </h2>
                    <ul>
                        <% if @folder == true %>
                            <% @s3objects.each do |s3object| %>
                            <li>
                                <%= image_tag "#{GetImage_Large(s3object.fileName)}" , :class => "#{GetClass(s3object.fileName)}" %>
                                <% if s3object.folder == true %>
                                    <a href="/dashboard/<%= s3object.uid %>"><%= s3object.fileName %></a>
                                    <p class="documentSummary"><span>Files:</span> <%= S3Object.find_all_by_parent_uid(s3object.uid).length %></p>
                                <% else %>
                                    <a href="/dashboard/<%= s3object.uid %>"><%= s3object.fileName %></a>
                                    <p class="documentSummary"><span>File size: </span> <%= sprintf("%.2f",(s3object.content_length / 1048576)) %> MB | <span>Version: </span><a href="#">1.0</a> | <span>Last modified:</span> <%= distance_of_time_in_hours_and_minutes(Date.today,s3object.lastModified)  %> ago <span>by</span> <a href="#"> Prashant Angyan</a></p>
                                <% end %>
                            </li>
                            <% end %>
                        <% else %>
                            <% @s3objects.each do |s3object| %>
                            <li>
                                <%= image_tag "#{GetImage_Large(s3object.key)}" , :class => "#{GetClass(s3object.key)}" %>
                                <a href="<%= s3object.object.url_for(:read) %>"><%= s3object.key %></a>
                                <p class="documentSummary"><span>File size: </span> <%= sprintf("%.2f",(s3object.object.content_length / 1048576)) %> MB | <span>Version: </span><a href="#">1.0</a> | <span>Last modified:</span> <%= distance_of_time_in_hours_and_minutes(Date.today,s3object.object.last_modified)  %> ago <span>by</span> <a href="#"> Prashant Angyan</a></p>
                            </li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
			</div>
            <div id="subOptions">
                <div class="inviteFriend">
                    <h3>Invite a friend</h3>
                    <a href="#SendInvitation" class="inviteFriendButton lightGreen activateModal" name="modalWindow" id="shareDocument">
                      <% if @folder == true %>
                        Share this folder
                      <% else %>
                        Share this document
                      <% end %>
                    </a>
                </div>
                <div class="deleteFile">
                    <%= image_tag "recycleBinIcon.png" %>
                    <h4>Delete This File</h4>
                    <p>This will permanently delete the file. So becareful!</p>
                    <div class="clearfix"></div>
                    <!--Todo: Need to change the text displayed in this link so when they click on a folder it changes to Delete this folder instead of file-->
                    <a href="#" class="deleteFileButton grey">Delete this file</a>
                </div>
            </div>
		</div>
    </div>
    <footer>
    </footer>
</div> <!--! end of #container -->
<div id="SendInvitation">
    <%= stylesheet_link_tag "sharedocument" %>
    <!-- for Popup -->
    <form action="/SendInvitation" class="modalWindow">
        <h1>Invite friends</h1>
        <label for="emailInvite">Enter your friends email address</label>
        <input type="text" id="emailInvite" name="emailInvite">
		<!-- This message should appear if an invalid email address is entered  [Opps looks like you entered an invalid email id]-->
		<div class="formError">
        </div>
        <ul id="addedEmailIds">
        <!--
        <li>prashant@gmail.com <img src="img/emailCloseIcon.png"></li>
        <li>ruben@blendit.com.my<img src="img/emailCloseIcon.png"></li>
        <li>prashant@blendit.com.my<img src="img/emailCloseIcon.png"></li>
        <li>rames@blendit.com.my<img src="img/emailCloseIcon.png"></li>
        -->
        </ul>
      <p class="howToUse">Type an email and press <span class="code">enter</span> and we will add that person to the list of people who will recieve an invite</p>
      <div class="clearfix"></div>
      <a href="#" class="addPersonalMessage">Add a personal message</a>
      <textarea name="personalMessageArea" id="personalMessage"></textarea>
      <a href="#" class="button blue activateModal" id="BtnSendInvitation" >Send invitations</a>
    </form>
    <!--
    <div>
    This content has to appear the first time a person logs in after the sign up
    VersaVault allows you to quickly and easily store and share files. It is as easy as installing the VersaVault desktop client and storing files in the folder.
    </div>
    -->
</div>
<% if (Time.now - @current_user.created_at) < 10  %>
    <!-- Popup when the user logged in the dashboard first time -->
    <div class="modalWindow" id="WelcomeBox">
        <h2>You are all set, <label id="lbl_name"></label>. Thanks!</h2>
        <p>You can start uploading files easily. Just download the <a href="http://s3.amazonaws.com/VersaVault/AmazonS3FileSyncTool_32Bit.exe">Versa Vault Desktop Client</a>
            and you can start storing and sharing documents. We also sent you an email with all the details on how to get back here</p>
        <%= link_to "Lets get started", dashboard_url %>
    </div>
<% end %>
