<div class="content">
    <h2>Correspondence</h2>
    <h3><%= @project %><span class="menu-button"><a href="/file_list/upload" class="small orange gradient-button" title="">+ Upload a new document</a></span></h3>
    <div class="file-list-container">
        <div class="file-list">
            <ul>
                <% @proj.documents.each do |document| %>
                <li>
                    <% #begin %>
                    <% #image_tag "fileicons/" + File.extname(document.name).to_s[1..4] + ".png" %>
                    <%= image_tag "icons3/document.png" %>
                    <a href='<%= AWS::S3::S3Object.url_for(document.name,S3SwfUpload::S3Config.bucket,:authenticated => false) %> '><%= document.name.split('/')[1] %></a>
                    <ul class="file-menu">
                        <li><%= link_to "Add Comments", "/Comments/new/" + document.id.to_s, :class => "link_add_comments sub-menu"  %></li>
                        <li><%= link_to "#{document.comments.count().to_s} Comments", "/Commentlist/" + document.id.to_s, :class => "sub-menu" %></li>
                    </ul>
                    <% #rescue %>
                    <% #end %>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>

