    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "upload" %>
    <div class="container">
		<div class="content-container">
			<div class="content">
				<h3>Upload your file(s)</h3>
                <div class="BrowseButtonholder">
                      <%=raw s3_swf_upload_tag(
                        :keyPrefix => session[:folder_name].to_s + "/" ,
                        #:fileTypes => '*.jpg;*.gif;*.png;',
                        #:fileTypeDescs => 'Image files.',
                        :onFileNotInQueue => "alert('File not found in the queue');",
                        :onFileSizeLimitReached => "alert('That file is too big');",
                        :onQueueChange => "queueChangeHandler(queue);",
                        :onQueueSizeLimitReached => "alert('There are too many files in the queue');",
                        #:onQueueEmpty => "alert('You gotta have at least one file in there');",
                        :onQueueClear => "queueClearHandler(queue);",
                        :onUploadingStart => "uploadingStartHandler();",
                        :onUploadingFinish => "uploadingFinishHandler();",
                        :onSignatureIOError => "alert('There was an IO error');",
                        :onSignatureXMLError => "alert('There was an XML error');",
                        :onSignatureSecurityError => "securityerror(event);",
                        :onUploadError => "alert('There was an unknown error');",
                        :onUploadIOError => "alert('There was an IO error');",
                        :onUploadSecurityError => "securityerror(upload_options,security_error_event);",
                        :onUploadProgress => "progressHandler(progress_event);",
                        :onUploadComplete => "uploadCompleteHandler(upload_options,event);"
                    ) %>
                </div>
				<div id="file_lists">
                    <ul id="file_done_list" class="file_list"></ul>
                	<ul id="file_todo_list" class="file_list"></ul>
                </div>
                <div class="upload-options">
                    <span class="menu-button"><a href="#" class="small blue gradient-button" onclick="s3_swf_1_object.startUploading();" >Start upload</a></span>
                    <span class="menu-button"><a href="#" class="small blue gradient-button" onclick="s3_swf_1_object.clearQueue();" >Clear Queue</a></span>
                    <span class="menu-button"><a href="#" class="small blue gradient-button" onclick="s3_swf_1_object.stopUploading();">Stop upload</a></span>
                </div>
        	</div>
            </div>
        </div>

    <%= javascript_include_tag "libs/jquery-1.4.2.min" %>
    <%= javascript_include_tag "filelist" %>
    <%= javascript_include_tag "upload" %>