<div class="content">
    <h2>File Details</h2>
    <h3><%= @document.name.split("/")[1] %><span class="menu-button"><a href="/comments/new/<%= @document.id %>" class="small orange gradient-button" title="">+ Add Comment</a></span></h3>
    <div class="file-list-container">
      <div class="file-list">
        <ul>
            <li>
              <p><%= @document.description %></p>
            </li>
        </ul>
      </div>
    </div>
    <div class="notice-container">
        <div class="notice">
            <h4>Correspondence Details</h4>
            <p>Uploaded by: <strong><%= Authentication.find(:first, :conditions => "id = #{@document.authentication_id}").username %></strong></p>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="comments-container">
        <h4>History</h4>
        <% unless @history.nil? %>
            <% @history.each do |history| %>
            <div class="single-comment">
                <div class="commenter-details">
                    <p><strong><%= Authentication.find(:first, :conditions => "id = #{history.authentication_id}").username  %></strong></p>
                    <p class="comment-created-date"><%= history.created_at.strftime("%B %d %Y") %></p>
                </div>
                <div class="clearfix"></div>
                <div class="comment">
                    <p><%= history.description %></p>
                </div>
            </div>
            <% end %>
        <% end %>
        <h4>Comments</h4>
        <% @comments.each  do |comment| %>
            <div class="single-comment">
                <div class="commenter-details">
                    <p><strong><%= Authentication.find(:first, :conditions => "id = #{comment.authentication_id}").username  %></strong> said:</p>
                    <p class="comment-created-date"><%= comment.created_at.strftime("%B %d %Y") %></p>
                </div>
                <div class="clearfix"></div>
                <div class="comment">
                    <p><%= comment.comment %></p>
                </div>
            </div>
        <% end %>
        <%= form_for(@comment) do |f| %>
            <% unless @error.nil? %>
    		<div class="error">
	    	    <p><%= @error %></p>
	        </div>
            <% end %>
            <input type="text" name="comment" />
            <span class="menu-button"><a onclick="document.forms[0].submit();" href="#" class="small blue gradient-button">Submit comment</a></span>
            <input type="hidden" value="<%= @document.id %>" name="document_id" >
        <% end %>
    </div>
</div>
<div class="create_project_box_container"></div>
<div class="create_project_box"></div>
