<div class="loginBox">
    <h1>Sign up</h1>
    <div class="errorContainer">
        <% unless @error.nil? %>
            <%= @error.html_safe %>
        <% end %>
    </div>
    <form id="loginForm" action="/createuser" accept-charset="UTF-8" method="post" >
        <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token">
        <label>Name</label>
        <input tabindex="1" name="name" type="text" placeholder="Enter the name" id="name" class="required email" value="<%= @authentication.name %>" />
        <label>Email</label>
        <input tabindex="2" name="username" type="text" placeholder="Enter the email id you want to signed up with" id="emailid" class="required email" value="<%= @authentication.username %>" />
	    <label>Password</label>
        <input tabindex="3"  name="password" type="password" placeholder="Enter your password you signed up with" id="password" class="required" />
        <label>Confirm Password</label>
        <input tabindex="4"  name="confirm_password" type="password" placeholder="Enter your password you signed up with" id="confirm_password" class="required lastbox" />
    </form>
    <%= link_to "Forget your password?", "/forgotpassword" %> | <%=link_to "Login", :action=>"new" %><br/>
    <a href="#" id="BtnSignUp" class="large button blue">Sign Up</a>
</div>
<div class="modalWindow">
  <h2>You are all set, <label id="lbl_name"></label>. Thanks!</h2>
  <p>You can start uploading files easily. Just download the <a href="http://s3.amazonaws.com/VersaVault/AmazonS3FileSyncTool_32Bit.exe">Versa Vault Desktop Client</a>
  and you can start storing and sharing documents. We also sent you an email with all the details on how to get back here</p>
  <%= link_to "Lets get started", dashboard_url %>    
</div>
<%= stylesheet_link_tag "jquery.fancybox-1.3.4" %>
<%= javascript_include_tag  "JQValidation" %>
<%= javascript_include_tag "jquery.mousewheel-3.0.4.pack" %>
<%= javascript_include_tag "jquery.fancybox-1.3.4.pack" %>
<%= javascript_include_tag "register" %>
