<div class="loginBox">
    <h1>Sign up</h1>
    <div class="errorContainer">
        <% unless @error.nil? %>
            <%= @error %>
        <% end %>
    </div>
    <form id="loginForm" action="/createuser" accept-charset="UTF-8" method="post" >
        <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token">
        <label>Email</label>
        <input tabindex="1" name="username" type="text" placeholder="Enter the email id you want to signed up with" id="emailid" class="required email" />
	    <label>Password</label>
        <input tabindex="2"  name="password" type="password" placeholder="Enter your password you signed up with" id="password" class="required" />
        <label>Confirm Password</label>
        <input tabindex="3"  name="confirm_password" type="password" placeholder="Enter your password you signed up with" id="confirm_password" class="required" />
    </form>
    <%= link_to "Forget your password?", "/forgotpassword" %> | <%=link_to "Login", :action=>"new" %><br/>
    <a href="#" onclick="document.forms[0].submit();" class="large button blue">Sign Up</a>
</div>
<%= javascript_include_tag "authentication" %>
