<div class="content">
    <h2>Projects</h2>
    <h3><%= @client_name %>
      <span class="menu-button"><a href="/projects/new/<%= @client_name %>" class="small orange gradient-button" title="">+ Create Project</a></span>
    </h3>
    <div class="file-list">
        <ul>
            <% @projects.each  do |project| %>
            <li>
                <%= image_tag "icons3/Project-Icon.png" %>
                <a href="/filelist/<%= project.name %>"><%= project.name %></a>
                <ul class="file-menu">
                    <li><a href="#" class="sub-menu"></a></li>
                </ul>
            </li>
            <% end %>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<div class="create_project_box_container"></div>
<div class="create_project_box"></div>

