<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <%= render :file => "layouts/header" %>
  <title>Contract Right</title>
  <!-- CSS : implied media="all" -->
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "shadows" %>
  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <%= javascript_include_tag "libs/modernizr-1.6.min"  %>
</head>
<body>
   <%= yield %>

   <%= javascript_include_tag "jquery-1.4.4.min" %>
   <%= javascript_include_tag "authentication" %>

   <%= render :file => "layouts/googleanalytics" %>
</body>
</html>